* text=auto
* text eol=lf
.github/ export-ignore
docs/ export-ignore
.editorconfig export-ignore
.gitattributes export-ignore
stats-permissions_build_changelog.md export-ignore
stats-permissions_changelog_de.md export-ignore
stats-permissions_version.json export-ignore
